src/test/resources/filter-config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="config" type="configType"/>
  <xs:complexType name="configType">
    <xs:sequence>
      <xs:element type="filterType" name="filters" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="filterType">
    <xs:sequence>
      <xs:element type="xs:string" name="to">
        <xs:annotation>
          <xs:documentation>The email address to send the errors which match this rule to.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="xs:string" name="message">
        <xs:annotation>
          <xs:documentation>A custom message to be prefixed before the log in the email, or as part
     of the message itself.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="xs:string" name="regex">
        <xs:annotation>
          <xs:documentation>Any Java compatible regular expression to match the log entry.  Be
    sure to support multiple lines.  e.g. use (?s)(?i)  Any Java compatible regular expression.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="xs:boolean" name="log" use="optional"/>
  </xs:complexType>
</xs:schema>